/* Tags */
* {
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    color:#FFE3ED;
    font-family: 'Roboto Flex', sans-serif;
}
body {
    text-align: center;
    height: 100vh;
    background-image: radial-gradient(circle, #22133b, #331843, #451d4a, #56224f, #682854);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: fixed;
    margin: 0px 4%;
}
header {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    /* background-color:rgba(171, 71, 92, 0.3);
    border-radius: 10px;
    box-shadow: 0 8px 8px rgb(59, 15, 65); */
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 20px;
}
a {
    text-decoration: none;
}
button {
    width: 15%;    
}   
div #fotos1 {
    padding: 5px;
    margin: 10px;
    border: none;
    text-align: left;
    align-content: center;
    background: none;
    box-shadow: none;
}
div #fotos2 {
    padding: 5px;
    margin: 10px;
    border: none;
    text-align: right;
    align-content: center;
    background: none;
    border-style: none;
    box-shadow: none;
}
#listabox1 {

}

/* IDs */
#foto img    {
    border-radius: 50%;
    border: 10px black;
}
#redes li {
    align-items: center;
    display: flex;
    gap: 5px;
}
#redes li a {
    transition: 200ms;
}
#redes li a:hover {
    color: #eeb7ca;
    text-decoration: dashed underline;
}
#titulo1 h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 0 30px;
    text-align: center;
}
#titulo1 h2 {
    font-size: 15px;
    font-weight: 700;
    padding: 0 30px;
    text-align: center;
}
#titulo2 {
    font-size: 25px;
}
#sobremim p {
    max-width: 600px;
    margin: 0 auto;
}
#seta {
    font-size: 28px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
#animation .fa-solid fa-sort-down {
    transition: 300ms;
}
#paragrafo p {
    padding: 5px;
}

/* ClASSES */
.container1 #foto {
    padding: 5px;
}
.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}
.active {
    display: block !important;
}
.form {
    width: 40%;
    margin: 10px auto;
}
.form input {
    width: 50%;
    color:#a86cba;
    padding: 1px 2px;
}
.form button {
    width: 15%;
    padding: 3px 3px;
    margin-left: -4px;
    margin-top: 10px;
    background: linear-gradient(to right, #894AB6 50%,#D74AA1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: none;
    cursor: pointer;
    transition: all 400ms ease-out;
}
.form button:hover {
    background-position: left bottom;
}
.container2 {
    margin: 10px;
    padding: 10px;
    /* background-color:rgba(171, 71, 92, 0.3);
    border-radius: 10px;
    box-shadow: 0 8px 8px rgb(59, 15, 65); */
}
.flex {
    display: flex;
    justify-content: center;
    
}
.flex div {
    margin: 10px;
    padding: 10px;
    flex-basis: 100%;
    border-radius: 25px;
    /* background-color:rgba(171, 71, 92, 0.3); */
    background-color:rgba(255, 227, 237, 0.3);
    border-radius: 10px;
    box-shadow: 0 8px 8px rgb(59, 15, 65); 
}
.fotos #img1 {
    border-radius: 50%;
    display: flex;
    float: left;
    margin: 5px;
    clear: both;
}
.fotos #img2 {
    border-radius: 50%;
    display: flex;
    float: right;
    margin: 5px;
    clear: both;
}
.fotos p {
    margin: 20px; 
}


/* RESPONSIVIDADE */
@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 480px) {
    #titulo1 h1 {
        font-size: 20px;
        font-weight: 700;
        padding: 5px 5px;
    }
    #titulo1 h3 {
        font-size: 10px;
        font-weight: 700;
    }
    #foto img    {
    border-radius: 50%;
    border: 10px black;
    width: 100px;
    height: 100px;
    }
    #sobremim p {
    max-width: 85%;
    margin: 0 auto;
    text-align: justify;
    }
    ul {
    list-style: none;
    display: list-item;
    align-items: center;
    padding: 15px;
    gap: 10px;
    }
}